.addBtn{
  background: linear-gradient(#93A081, #58694e);
  border: 3px solid #41553F;
  box-sizing: border-box;
  border-radius: 10px;
  width: 5em;
  height: 4.5em;
  cursor:pointer;
}

.addBtnHover{
  background: linear-gradient(#58694e, #41553f);
  border: 3px solid #41553F;
  box-sizing: border-box;
  border-radius: 10px;
  width: 5em;
  height: 4.5em;
  cursor:pointer;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.change {
  background-color: #B8BCCF;
}

.change:nth-child(odd) {
  background-color: #D6D6E1;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
